body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    height: 120vh;
}
.barra{
    background-color: rgb(65, 56, 56);
    width: 100vw;
    height: 10vh;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}
.perfil{
    display: flex;
    padding: 0 4vw;
}
.perfil a{
    color: white;
    text-decoration: none;
    font-size: 6vh;
    font-weight: bold;
}
.lista{
    display: flex;
    list-style: none;
    padding: 0  2vw;
}
.lista li a{
    text-decoration: none;
    color: white;
    padding: 0vh 2vw 0 2vw;
    font-size: 3vh;
}
.lista li a:hover {
    color: rgb(0, 116, 116);
}
.lista li button{
    height:  4vh;
    width: 8vw;
    border: none;
    background-color: rgb(0, 116, 116);
    border-radius: 2vh;
    font-size: 2vh;
    color: white;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    cursor: pointer;
}
.contenedor{
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items:start;
    position: relative;
    top: 15vh;
    left: 2vw;
    border-radius: 3vh;
    box-shadow: 0 0.5vh 1vw rgb(0,0,0,1);
}
.div1{
    height: 20vh;
    width: 50vw;
}
.div1-1{
    height: 10vh;
    width: 50vw;
    background-color: rgb(0, 116, 116);
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
}
.div1-2{
    height: 10vh;
    width: 50vw;
    background-color: rgb(255, 255, 255);
}
.div1 img{
    position: relative;
    bottom: 17vh;
    left: 1.5vw;
    height: 18vh;
    width: 9vw;
    border-radius: 100%;
    border: 0.5vh solid white;
}
.div2{
    height: 40vh;
    width: 50vw;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
.div2-1{
    padding: 0vh 2vw;
    font-size: 2.3vh;
}
.div2-1 button{
    font-size: 2vh;
    height: 4vh;
    width: 7vw;
    border: none;
    border-radius: 3vb;
    color: black;
    background-color: rgb(0, 116, 116);
    margin-top: 4vh;
    cursor: pointer;
}
.contenedor2{
    height: 25vh;
    width: 50vw;
    background-color: white;
    border-radius: 3vh;
    box-shadow: 0 0.5vh 1vw rgb(0,0,0,1);
    position: relative;
    top: 20vh;
    left: 2vw;
}
.div3{
    font-size: 2.1vh;
    padding: 1.5vh 2vw;
}
.contenedor3{
    height: 25vh;
    width: 35vw;
    background-color: white;
    border-radius: 3vh;
    box-shadow: 0 0.5vh 1vw rgb(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 70vh;
    left: 62vw;
}
.div4{
    margin: 2vh 0;
}
.div4 h2{
    display: flex;
    justify-content: space-around;
    font-size: 4vh;
}
.div5{
    width: 25vw;
    padding-bottom: 3vh;
}
.div5 img{
    height: 7vh;
    width: 4vw;
    border-radius: 1vh;
    border: 0.3vh solid rgb(0, 116, 116);
}
.botone{
    display: flex;
    justify-content: end;
    justify-items: center;
    text-align: center;

}
.botone button{
    border: 0.4vh solid rgb(0, 116, 116);
    border-radius: 100%;
    height: 6.5vh;
    width: 3.5vw;
    background-color: white;
    font-size: 3vh;
    margin: 0.5vh;
    cursor: pointer;
}
.solicitudes1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vh;
}
.contenedor4{
    height: 65vh;
    width: 35vw;
    background-color: white;
    border-radius: 3vh;
    box-shadow: 0 0.5vh 1vw rgb(0,0,0,1);
    position: relative;
    font-size: 2.4vh;
    bottom: 65vh;
    left: 62vw;
}
.div6{
    display: flex;
    padding-left: 2vw;
}
.div7 img{
    height: 6vh;
    width:  3.5vw; 
    border-radius: 100%;
    border: 0.3vh solid rgb(0, 116, 116);
}
.div7 div{
    display: flex;
    align-items: center;
    padding-top: 1vh;
}
.div7 p{
    padding-left: 1vw;
}
.div7{
    padding-left: 2vw;
}